@import url("https://fonts.googleapis.com/css2?family=Geo&family=Geologica:wght@100&display=swap");

:root {
	--midnight-express: #25273b;
	--anarchist: #d12945;
	--pomelo-red: #ea92af;
	--genie: #404365;
	--golden-lion: #f3c76a;
	--foggy-love: #d5cee4;

	--baklava: #efb336ff;
	--viridian: #1c9b7aff;
}

html,
body {
	min-height: 100vh;
	margin: 0 auto;

	font-size: 16px;
	box-sizing: border-box;
	font-family: "Space Mono", monospace, sans-serif, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
body {
	background: linear-gradient(var(--genie) 20%, var(--pomelo-red));
	color: var(--midnight-express);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: var(--genie);

	padding-right: 2rem;
}
header h1 {
	text-shadow: 0.09rem 0.08rem 0.2rem var(--anarchist);
	color: var(--foggy-love);
}
header p {
	padding-left: 1rem;
	color: var(--pomelo-red);
}
.title-header {
	border: 2px dotted var(--anarchist);
	padding: 0rem 1rem 0.4rem 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
	box-shadow: 0.1rem 0.1rem 1rem var(--pomelo-red);
}
header button,
#add-to-do-btn {
	border: 2px solid var(--pomelo-red);
	background-color: var(--midnight-express);
	color: var(--foggy-love);
}
#add-to-do-btn:hover {
	background-color: var(--pomelo-red);
	color: var(--midnight-express);
}
header button:hover {
	border-width: 3px;
}
header h1,
p {
	margin: 0rem;
}
p {
	font-family: "Geologica", sans-serif;
	font-weight: 200;
}
h2,
h3 {
	margin: 0rem;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

button,
input {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	box-shadow: none;
	border: none;
	padding: 0.2rem 0.4rem;
	border-radius: 0.2rem;
}
button:hover {
	cursor: pointer;
}
.project-list-wrapper {
	display: flex;
}
form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
label {
	display: flex;
	justify-content: space-between;
	padding: 0.4rem;
	align-items: flex-start;
}

.proj-wrapper {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
	padding: 1.5rem 1rem;
	gap: 0.8rem;
}
.card-wrapper {
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	height: 200px;

	padding: 0.8rem 1rem;
	border: 1px solid var(--midnight-express);
	border-radius: 0.2rem;

	background-color: var(--genie);

	color: var(--foggy-love);
	box-shadow: 0.3rem 0.3rem 0.6rem var(--midnight-express);
}
.card-wrapper h3,
.card-wrapper p {
	margin: 0rem;
}
.description {
	padding: 0.4rem 0.2rem;
	overflow: hidden;

	border-top: 1px solid var(--pomelo-red);
}
.to-do-list {
	overflow: hidden;
}
.card-btn-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: var(--genie);
	padding: 0.2rem;
}

.card-btn-wrapper button {
	align-self: end;
	text-align: center;
}
.expand-btn,
.edit-btn,
#close-proj-btn {
	background-color: var(--midnight-express);
	color: var(--foggy-love);
}
.expand-btn:hover,
.edit-btn:hover,
#close-proj-btn:hover {
	filter: brightness(1.2);
}
.delete-btn {
	background-color: var(--golden-lion);

	color: var(--midnight-express);
}
.delete-btn:hover {
	background-color: var(--anarchist);
	color: var(--foggy-love);
}

/** Edit/Add: */
#title-input,
#description-input,
#to-do-input {
	padding-left: 0.2rem;
}
#add-project-wrapper input {
	padding: 0.4rem 0.6rem;
	border-radius: 0.2rem;
	margin: 0.2rem;
}

#to-do-list-div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 30%));
	padding: 0.8rem;
	align-items: center;
	gap: 0.4rem;
}
.to-do-wrapper label {
	display: flex;
	align-items: center;
}
.temp-to-do-div {
	display: flex;
	font-size: 0.8rem;
	gap: 0.2rem;
	border: 1px solid var(--foggy-love);

	align-items: center;
	border-radius: 0.27rem;
}
.temp-to-do-div button {
	margin-left: auto;
	padding: 0.4rem;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;

	background-color: var(--pomelo-red);
}
.temp-to-do-div button:hover {
	background-color: var(--anarchist);
	color: var(--foggy-love);
}
.temp-to-do-div p {
	margin: 0rem;
	padding: 0.4rem;
	color: var(--foggy-love);
}
#submit-project-btn,
#cancel-project-btn {
	border: 1px solid var(--foggy-love);
	background-color: var(--genie);
	color: var(--foggy-love);
}
#submit-project-btn:hover {
	background-color: var(--pomelo-red);
	color: var(--midnight-express);
	border-color: var(--midnight-express);
}
#cancel-project-btn:hover {
	background-color: var(--golden-lion);
	color: var(--midnight-express);
	border-color: var(--midnight-express);
}

/** Modals and Expanded **/
:modal {
	border-radius: 1rem;
	padding: 1rem 2rem;
}
#add-project-wrapper:modal {
	width: 70%;
	background-color: var(--midnight-express);
	color: var(--foggy-love);
}
#dialog-expanded:modal {
	width: 50%;
	background-color: var(--genie);
	color: var(--foggy-love);
}
.due-date-ex-wrapper {
	display: flex;
	align-items: flex-end;
}
.due-date-ex {
	padding-left: 1rem;
}
.content-ex-wrapper {
	margin-top: 0.4rem;
	border-radius: 0.2rem;
	border: 1px solid var(--midnight-express);
}
.description-ex {
	border-bottom: 2px dotted var(--midnight-express);
	padding: 1rem 2rem;
	background-color: var(--midnight-express);
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;

	color: var(--foggy-love);
	text-indent: 1rem;
}
.to-do-ex-heading {
	padding: 0.4rem;
	text-align: center;
}
.to-do-list-ex {
	padding: 0rem 2rem 1rem 2rem;
}
.to-do-item {
	margin: 0.2rem;
	padding: 0.1rem 0.2rem;

	border-radius: 0.2rem;
	border: 1px solid var(--midnight-express);
}
.btn-wrapper {
	display: flex;
	justify-content: center;
	padding: 0.8rem;
	gap: 1rem;
}
.btn-wrapper-ex button:first-child {
	margin-right: auto;
}

/** Priority: */
.priority,
#dialog-expanded.priority {
	background-color: var(--pomelo-red);

	color: var(--midnight-express);
}
.card-wrapper.priority .description {
	border-top: 1px solid var(--genie);
}
.card-wrapper.priority .card-btn-wrapper {
	background-color: var(--pomelo-red);
}
